h1,
h2,
h3,
p,
ol{
  font-family: "Arial Unicode MS", sans-serif;
  color: #540854;
  text-align: justify;
}

h1 {
  font-size: 55px;
}

p,
ol,
a{
  font-size: 20px;
}

ol{
  padding-left: 0px;
}
li{
  padding-bottom:10px;
}


img[alt$="<"] {
  float: right;
  max-width: 35%;
  margin-left: 70px;
}

body {
  background-color: #fcfafc;
}

a{
  font-family: "Arial Unicode MS", sans-serif;
  color: #540854;
  text-decoration: underline;
}
.title{
  display: none;
}
a:hover {
  color: #12020f;
}

details { 
  display: block;
  font-size: 10px;
}
details > summary {
    list-style-type: '️+';
}

details[open] > summary {
    list-style-type: '+';
}
pdet{
  font-size: 10px;
  font-family: "Arial Unicode MS", sans-serif;
  color: #540854;
  text-align: justify;
}
